body {
    margin: 0;
    font-family: Arial, sans-serif;
}


/*REGISTRATION FORM*/
* {box-sizing: border-box}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    height: 900px;
}

.container-wrapper {
    display: flex;
    height: 100vh;
}

.video-section {
    flex:1;
    background: linear-gradient(red, yellow);
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

video-section video {
    max-width: 100%;
    height: auto;
}

.form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}
input[type=text], input[type=password], input[type=email], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline;
  border:  1px solid black;
  border-radius: 17px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.regButton {
  background-color: #fd0000;
  color: white;
  padding: 16px 20px;
  margin: 8px 180px;
  border: 2px solid black;
  border-radius: 17px;
  cursor: pointer;
  width: 30%;
  opacity: 0.9;
}

.regButton:hover {
  background-color: #e78282;
}

a {
  color: dodgerblue;
}

.container-register {
  text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}