
* {
    margin: 0;
    padding: 0;
    }
    
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    }
    
    /*Navbar styling*/
    .navbar {
    background-color: red;
    padding: 10px 80px;
    display: flex;
    justify-content: space between;
    align-items: center;
    }
    
    .navbar img{
    height: 90px;
    width: 180%;
    }
    
    .navtabs {
    list-style: none;
    display: flex;
    gap: 15px;
    }
    
    .navtabs li {
    display: in-line;
    }
    
    .navtabs a {
    color: white;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
    }
    
    .navtabs a:hover {
    color: maroon;
    }
    
    .navtabs .active {
    background-color: maroon;
    border-radius: 5px;
    }
    